body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px; 
    font-size: 1vw;
    
}
html
body > header {
    background-color: rgb(158, 74, 74);
    margin: 0px;
    color: rgb(247, 153, 124);
    display: flex;
    height: 12vh;
    box-shadow: 5px 2px 2px 5px black; 
    width: 100%;
    align-items: center;
} 
body > header > img {
    margin-left: 10px;
}
cite > a {margin: 100px;}
body > header > h1 {
    margin: 0px; 
    padding: 8px;
    font-family: "Fredoka One", sans-serif ;
    width: 90%;
    align-items: center;

}
body > header > nav > ul {
list-style: none;
text-decoration: none;
display: flex;

}

body > header > nav > ul > li{
    padding: 6px;
    margin: 1vw;
    padding: 10px;
    border: 1px rgb(245, 167, 167);
 
}
.navbutton { 
     color: antiquewhite;
     text-decoration: none;
}

body > main > article {
    width: 97%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: space-around
}
#main-content > aside {
    width: 15%;
}

#main-content > div {
    width:95%;
}

#pic_3 {grid-area: pic3;}
#p3 {grid-area: p3;}
#pic_2 {grid-area: pic2;}
#p2 {grid-area: p2;}
#pic_1 {grid-area: pic1;}
#p1 {grid-area: p1;}

main {
    display: grid;
    grid-template-areas:
    "p3 pic3"
    "pic2 p2"
    "p1 pic1"
    ;
    grid-template-columns: 1fr 1fr;
}

article {
 padding: 10px;
}

form {
    text-align: center;
}

h2{
    text-align: center;
    padding: 0px;
    border-width: 0px;
}
 
img {
    border-radius: 10px;
}

body > footer {
    margin: 0px;
    display:flex;
    background-color: rgb(158, 74, 74);
    box-shadow: 5px 0px 2px 5px black; 

}
body > footer > img {
    max-width: 90px; /* Adjust to your preferred width */
    height: 80px; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 10px; /* Applies rounded corners */
   
}
body > footer > h1 {  
    background-color: rgb(158, 74, 74);
    margin: 0px;
    color: rgb(247, 153, 124);
    display: flex;
    height: 12vh;
    width: 100%;
    align-items: center;
    margin-left: 2vw;
}
#footer-ul {
    display: flex;
    list-style: none;
    
}
#footer-ul >div>li > a{
    margin-left: 10px;
    text-decoration: none ; 
}
#footer-ul >div>li {
    margin-left: 14px;
    list-style: none;
    color: rgb(247, 194, 173);
    text-decoration: none;
    padding: 6px;
    margin: 1vw;
    padding: 10px;
    border: 1px rgb(245, 167, 167);
    align-items: center;
}

hr {
    text-align: center;
}
 hr > form {
    text-align: center;
 }
